<mat-card>
  <mat-card-header>
    <mat-card-title align="end">
      <h1>Staff Form</h1>
    </mat-card-title>
  <div style="text-align: center;">
    <br><br>
    <h1>Staff Form</h1>
    <mat-form-field class="example-form">
      <label for="user-date">Date: </label>
      <!-- <input formControlName="date"  matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" [min]="minDate"> -->
      <mat-datepicker-toggle matSuffix [for] ="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <label for="job">Job Title: </label>
  <input id="job" type="text">
  <!-- [formControl]="jobTitle"> -->
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Hiring Manager Name</mat-label>
        <input matInput placeholder="Manager Name">
      </mat-form-field>
    </form>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Manager Email</mat-label>
        <input matInput placeholder="Manager Email">
      </mat-form-field>
    </form>
    <br><br>
    <button mat-raised-button color="primary">Submit</button>
  </div>
<!-- </mat-card> -->