/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-icons/iconfont/material-icons.css';
html, body { height: 100%; }
p.solid {border-style: solid;}
body { background-color: rgb(255, 255, 255); margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


